{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 21/02/15 bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <title>Document</title>
</head>
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            <!-- 21/02/09 question template -->
            <!-- 만약에 question_list가 있다면 -->
            {% if question_list %}
            <!-- question_list를 반복하여 변수 question에 대입 -->
            {% for question in question_list %}
            <tr>
                <!-- for ...에서 반복시 자동으로 매겨지는 순서값 = forloop.counter -->
                <!-- th-1 (번호) -->
                <td>{{ forloop.counter }} </td>

                <!-- th-2 (제목) -->
                <!-- question.subject, create_date는 model.py에서 가져온 것 -->
                <!-- url 네임스페이스 - 'main:url 이름' 모델 객체 -->
                <td><a href="{% url 'main:detail' question.id %}"> {{ question.subject }}</a></td>

                <!-- th-3 (작성일시) -->
                <td>{{question.create_date}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

</html>