{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <!-- 21/02/09 질문 제목 -->
    <h2 class="border-bottom py-2">{{question.subject}}</h2>
    <div class="card my-3">
        <div class="card-body">
            <!-- 21/02/09 질문 내용 -->
            <div class="card-text" style="white-space: pre-line;">{{question.content}}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ question.create_date }}
                </div>
            </div>
        </div>
    </div>

    <!-- 21/02/12 등록한 답변 표시 -->
    <h5>{{question.answer_set.count}}개의 답변이 있습니다. </h5>
    {% for answer in question.answer_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <!-- 21/02/09 답변 내용 -->
            <div class="card-text" style="white-space: pre-line;">{{ answer.content }}</div>
            <div class="d-flex justify-content-end">
                <div class="badge badge-light p-2">
                    {{ answer.create_date }}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 21/02/12 답변 등록 기능 -->
    <form action="{% url 'main:answer_create' question.id %}" method="post" class="my-3">
        <!-- form 아래 꼭 넣어줘야되는 토큰 - 해킹방지 -->
        {% csrf_token %}
        <!-- 21/02/15 답변 등록 타당성 확인 -->
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <strong>{{ field.label }}</strong>
            {{ field.errors }}
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="content">답변 남기기</label>
            <textarea name="content" id="content" rows="10"
                class="form-control">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>

        <button type="submit" value="답변등록" class="btn btn-primary">등록하기</button>
    </form>
</div>
{% endblock %}