<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Page</title>
</head>

<body>
    <!-- 21/02/09 상세 페이지 -->
    <h1>{{question.subject}}</h1>
    <div>
        {{question.content}}
    </div>
    <!-- 21/02/12 등록한 답변 표시 -->
    <h5>{{question.answer_set.count}}개의 답변이 있습니다. </h5>
    <div>
        <ul>
            {% for answer in question.answer_set.all %}
            <!-- 답변 내용 -->
            <li>{{answer.content}}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- 21/02/12 답변 등록 기능 -->
    <form action="{% url 'main:answer_create' question.id %}" method="POST">
        <!-- form 아래 꼭 넣어줘야되는 토큰 - 해킹방지 -->
        {% csrf_token %}
        <textarea name="content" id="content" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>
</body>

</html>